*.pyc
*~
tests/hwsim/logs
tests/remote/logs
wpaspy/build
**/parallel-vm.log
tags
build/
# clangd commands and cache
compile_commands.json
.cache

local_testbed/captures/**
local_testbed/
CHANGELOG.md
CHANGELOG_REPORTS/